@use '../styles' as *;

.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.play-control {
  display: grid;
  grid-auto-flow: column;
  gap: var(--gap);

  input[type="radio"]:checked + label {
    box-shadow: var(--btnCheckedInsetShadow);
    i {
      text-shadow: var(--btnCheckedIconShadow);
    }
  }
}

.time-control {
  width: 50%;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
  }

  p {
    padding: 1rem;
  }
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: none;
}

.track {
  width: 100%;
  height: 1rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: var(--btnOuterShadow);
}

.animate-track {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  pointer-events: none;
  box-shadow: var(--btnCheckedInsetShadow);
  background: var(--bgGradient);
}

@media screen and (max-width: map-get($screen-sizes, tablet)) {
  .time-control {
    width: 90%;
    padding-top: 1rem;
  }
}

@media screen and (max-width: map-get($screen-sizes, mobile)) {
  .play-control {
    margin-bottom: 0;
  }
}
